* {
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.wrapper-header {
    flex: 0 0 auto;
}
.wrapper-section__paragraph {
    flex: 1 0 auto;
}
.wrapper-section__auth {
    flex: 0 0 auto;
}